@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    overflow: auto;
    position: relative;
    background: url("../img/fondo.jpg") no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    max-width: 100%;
    overflow-x: hidden;
    color: white;
}

a{
    color: #FFFFFF;
    text-decoration: none;
    width: 100%;
    height: auto;
}

header{
    padding: 25px;
    height: 10vh;
    background-color: #F39200;
    text-align: left;
    -webkit-box-shadow: 5px 4px 8px -3px rgba(0, 0, 0, 0.8); 
    box-shadow: 5px 4px 8px -3px rgba(0,0,0, 0.8);
    margin-bottom: 20px;
    width: 100%;
}
aside{
    display: inline-block;
    width: 25%;
    background-color: rgb(58 63 34 / 88%);
    min-height: 50vh;
    padding: 10px 20px 10px 0px;
}

aside ul{
    list-style: none;
}

aside ul li{
    background: #747878;
    margin: 8px;
    border-bottom: solid 2px #FFFFFF;
    padding: 20px 20px;
}

aside ul li.activo{
    background: #FFFFFF;
    margin: 8px;
    border-bottom: solid 2px #747878;
}

aside ul li.activo a{
    color: #747878;
}

article{
    float: right;
    width: 65%;
    min-height: 50vh;
    background-color: rgb(58 63 34 / 88%);
    padding: 10px 20px;
}

footer{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0px;
    background-color: rgb(58 63 34 / 88%);;
    width: 100%;
}

footer p{
    padding-left: 30px;
}
footer figure{
    padding: 20px 30px;
}
footer figure img{
    background: white;
    width: 60px;
}
